* {
  margin: 2px;
}
h1 {
  color: #27aedb;
  text-align: center;
}

button {
  color: #27aedb;
  text-align: center;
  justify-content: center;
  align-items: center;
}
textarea {
  background-color: pink;
}

.delete {
  display: inline-block;
}
.editTask {
  display: block;
}
